<h1>Bem vindo!</h1>

Acesse as páginas abaixo:</br>

<a link rel="stylesheet" href="/register"> Registro de Usuários</a></br>
<a link rel="stylesheet" href="/registerTable"> Usuários Cadastrados</a></br>
<a link rel="stylesheet" href="/imoveis"> Cadastro e visualização de imóveis</a>