<body>
  <div id="logout">
    <asideRegister>
      
      <strong>Acesso de Usuário<br/></strong>
    <form action = "/" method = "post">
        <p>
          <div className='input-block'>
          <label htmlFor = "email"> Usuário: </label>
          <input type="text" name="email" required />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "password"> Senha: </label>
          <input type="password" name="password" id="pass" minlength="8" required />
        </div>
      </p>

      <button type = "submit" > Login </button>       
    </form>
  </asideRegister>
</div>
</body>


