<body>
  <div id="register">
    <asideRegister>
      
      <strong>Cadastro de Usuário<br/></strong>
    <form action = "/register" method = "post">
        <p>
          <div className='input-block'>
          <label htmlFor = "username"> Username: </label>
          <input type="text" name="username" required />
        </div>
      </p>
      <p>
        <div className='input-block'>
        <label htmlFor = "email"> Email: </label>
        <input type="email" name="email" required />
      </div>
    </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "password"> Senha (mínimo de 8 caracteres): </label>
          <input type="password" name="password" id="password" minlength="8" required />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "confsenha"> Confirmar senha: </label>
          <input type="password" name="confsenha" id="confpass" minlength="8" required />
        </div>
      </p>
      <button type = "submit"> Cadastrar </button>       
    </form>
  </asideRegister>
</div>
</body>


